.RData
.Rhistory
EUR.*
EWAS
EWAS.bim
EUR.bim
LDREF
RDat.pos
RDat.profile
EWAS-weights
GIANT_HEIGHT_Wood_et_al_2014_publicrelease_HapMapCeuFreq.txt.gz
HumanMethylation450_15017482_v1-2.csv
450k_manifest_header_descriptions.xlsx
LDREF.tar.bz2
work
